.heading {
    color: blue;
    background-color: yellow;
}

body {
    background-color: pink;
}

button {
    background-color: palegreen;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: aqua;
    text-align: center;
} */

 #divi{
    height: 300px;
    width: 100px;
    background-color: blue;
    color: aliceblue;
    border: 1px solid black;
}


.para {
    color: white; 
    font-size: large;
}

.newClass {
    background-color: yellowgreen;
}